html, body {
    width: 100%;
    height: 100%;
    font: 14px/1.5 'Microsoft Yahei', Arial, Verdana, Tahoma, Helvetica, sans-serif;
}

.body {
    background-color: #fff;
    color: #333;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    overflow: auto;
}

.pages {
    overflow: hidden;
    margin-top: 20px;
    text-align: center;
    position: relative;
    clear: both;
}

.btn {
    width: 200px;
    margin: 15px auto 5px;
    border: 0;
    background: #f08519;
    color: #fff;
    font-size: 15px;
    height: 35px;
    display: block;
    cursor: pointer;
}

